* {
  background-color: #0d253f;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  font-family: "Abril Fatface", cursive;
  font-family: "Arvo", serif;
}

.color1 {
  color: #000000;
}
.color2 {
  color: #232531;
}
.color3 {
  color: #6f7082;
}
.color4 {
  color: #c4c3e0;
}
.color5 {
  color: #f7f4f9;
}
.color6 {
  color: #0d253f;
}
.color7 {
  color: #01b4e4;
}
.color8 {
  color: #90cea1;
}
/*MOVIES*/

header a {
  font-size: 20px;
  text-decoration: none;
  background: -webkit-linear-gradient(right, #90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a:hover {
  text-decoration: none;
  font-size: 20px;
  background: -webkit-linear-gradient(right, #0d253f, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header h1,
h2 {
  text-align: center;
  background: -webkit-linear-gradient(right, #90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.appMovies {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.Apis {
  display: block;
  width: 100%;
  box-sizing: content-box;
}

.Apis ul li {
  position: relative;
  list-style: none;
  text-decoration: none;
}

.movie h3 {
  text-align: center;
  background: -webkit-linear-gradient(right, #90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.3s;
}
.movie:hover {
  text-align: center;
  background: -webkit-linear-gradient(right, #90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.8px;
  border-radius: 10px;
}

.appMovies .movie .title {
  font-size: 16px;
  font-weight: 600;
  padding: 7px;
  height: 60px;
}

.appMovies .movie .poster {
  width: 100%;
  margin-bottom: 0px;
  border-radius: 10px;
}

.pages {
  position: fixed;
  bottom: 0;
  background: #0d253f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.pages button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #0d253f;
  background: -webkit-linear-gradient(right, #90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 100px;
  font-family: "Abril Fatface", cursive;
  font-family: "Arvo", serif;
  font-weight: 600;
  transition: 0.3s ease all;
  border: 1px solid #87a5fb;
}

.pages button:hover {
  background: #0d253f;
  background: -webkit-linear-gradient(right, #90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}
/*FINAL MOVIES*/
