* {
  background-color: darkgreen;
  background-color: #323133;
  background-color: #7a787e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%237A787E'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.11'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  font-family: "Abril Fatface", cursive;
  font-family: "Arvo", serif;
}

.color1 {
  color: #000000;
}
.color2 {
  color: #232531;
}
.color3 {
  color: #6f7082;
}
.color4 {
  color: #c4c3e0;
}
.color5 {
  color: #f7f4f9;
}
/*MOVIES*/

header a {
  text-decoration: none;
  color: #232531;
  font-size: 25px;
}

header a:hover {
  text-decoration: none;
  color: #6f7082;
  font-size: 25px;
}
header h1,
h2 {
  text-align: center;
  color: #232531;
}

.appMovies {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
.Apis {
  display: block;
  width: 100%;
}

.Apis ul li {
  position: relative;
  list-style: none;
  text-decoration: none;
}
.appMovies .movie {
  text-align: center;
  color: #000000;
}
.appMovies .movie:hover {
  text-align: center;
  color: #6f7082;
}

.appMovies .movie .title {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #4d6099;
  background-color: rgb(16, 10, 31, 0.5);
  border-radius: 15%;
  padding: 7px;
}

.appMovies .movie .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.pages {
  position: fixed;
  bottom: 0;
  background: #1b253c;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.pages button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #1b253c;
  color: #fff;
  border-radius: 100px;
  font-family: "Abril Fatface", cursive;
  font-family: "Arvo", serif;
  font-weight: 600;
  transition: 0.3s ease all;
  border: 1px solid #87a5fb;
}

.pages button:hover {
  background: #4d6099;
  letter-spacing: 3px;
}
/*FINAL MOVIES*/
